---
import Navigation from "../../components/navigation.vue";
import BlogGallery from "../../components/blogGallery.vue";
import ContactForm from "../../components/contactForm.vue";
import Footer from "../../components/footer.vue";
import "bootstrap/dist/css/bootstrap.css";
import "../../../public/styles/navbar.css";
import "../../../public/styles/index.css";
import "../../../public/styles/viewPost.css";
import "../../../public/styles/contactForm.css";

export async function getStaticPaths() {
  const response = await fetch("http://127.0.0.1:1337/api/blogs?populate=*");
  const { data } = await response.json();
  return data.map((post) => ({
    params: { slug: post.attributes.title },
    props: post,
  }));
}

const post = Astro.props;
---

<!DOCTYPE html>
<html lang="he">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@900&family=Assistant:wght@200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <title>{post.attributes.title}</title>
  </head>
  <body>
    <header>
      <Navigation client:load />
    </header>
    <main>
      <div class="row text-center">
        <div id="post-area">
          <div class="post-desc">
            <h2>{post.attributes.title}</h2>
            <p id="product-exp">{post.attributes.content}</p>
          </div>
        </div>
      </div>
      <div class="row beige-background p-5">
        <ContactForm client:load />
      </div>
      <Footer client:load />
    </main>
  </body>
</html>
