---
import Navigation from "../components/navigation.vue";
import Carousel from "../components/carousel.vue";
import ProjectGalleryIndex from "../components/projectGalleryIndex.vue";
import ContactForm from "../components/contactForm.vue";
import Footer from "../components/footer.vue";
import "bootstrap/dist/css/bootstrap.css";
import "../../public/styles/navbar.css";
import "../../public/styles/index.css";
import "../../public/styles/contactForm.css";
import "../../public/styles/mainButtonColor.css";
---

<html lang="he">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="icon"
      type="image/svg+xml"
      href="../../public/images/flower.svg"
    />
    <title>MWS Studio</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@900&family=Assistant:wght@200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <title>MWS Design</title>
  </head>
  <body>
    <header>
      <Navigation client:load />
    </header>
    <main>
      <div class="container-fluid">
        <div id="top-row" class="row">
          <div></div>
          <div class="col-lg-8 p-0">
            <Carousel client:load />
          </div>
          <div id="main-col" class="col-lg-4 my-auto text-center make-top">
            <h1><span id="bold-logo-text">MWS</span> Studio</h1>
            <p id="sub-logo-text">
              לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית לורם איפסום
              דולור סיט אמט, קונסקטורר אדיפיסינג.
            </p>
            <p id="scroll-down-command">(גללו למטה)</p>
          </div>
        </div>

        <div class="row text-center my-auto">
          <!-- <div class="background-overlay-color2"></div> -->
          <div id="about-info" class="make-top">
            <img
              id="flower-img"
              src="../../public/images/sketched-leaves1.png"
              alt="sketched plant leaves"
            />
            <h3>מורן ורנר סיידו</h3>
            <p id="about-p">
              לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית לורם איפסום
              דולור סיט אמט, קונסקטורר אדיפיסינג אלית לורם איפסום דולור סיט
              אמט.לורם איפסום דולור סיט אמט.
            </p>
            <a href="/about" class="white_btn mainBackground">קראו עוד עלי</a>
          </div>
        </div>

        <div class="row text-center my-auto p-5 beige-background">
          <div class="make-top">
            <h3>פרויקטים שלי</h3>
            <ProjectGalleryIndex client:load />
          </div>
          <div class="background-overlay-color1"></div>
        </div>

        <div class="row my-auto beige-background p-5">
          <ContactForm client:load />
        </div>
      </div>
      <Footer client:load />
    </main>
  </body>
</html>

<script
  src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
  integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
  crossorigin="anonymous"></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
  integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
  crossorigin="anonymous"></script>
<script>
  let prev_btn = document.getElementById("prev-btn");
  prev_btn.addEventListener("focus", (e) => {
    prev_btn.blur();
  });

  let next_btn = document.getElementById("next-btn");
  next_btn.addEventListener("focus", (e) => {
    next_btn.blur();
  });
</script>
