---
import Navigation from "../components/navigation.vue";
import Carousel from "../components/carousel.vue";
import "bootstrap/dist/css/bootstrap.css";
import "../../public/styles/navbar.css";
import "../../public/styles/index.css";
import Footer from "../components/footer.vue";
import "../../public/styles/mainButtonColor.css";
import ProjectGallerySample from "../components/projectGallerySample.vue";
import { richTextParser } from "../js/richTextParser";

const response = await fetch(
  "https://mws-data-280b2464bf34.herokuapp.com/api/home-page"
);

const { data } = await response.json();
---

<html lang="he">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="icon" type="image/svg+xml" href="/images/Favicon-new.svg" />
    <title>MWS Studio</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@900&family=Assistant:wght@200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <title>MWS Design</title>
  </head>
  <body>
    <header>
      <Navigation client:load />
    </header>
    <main>
      <div class="container-fluid">
        <div class="row">
          <Carousel client:load />
          <div class="guide-arrow">
            <p class="arrow-down-text">כיף שבאתם, בואו נצא לדרך</p>
            <img
              class="arrow-down"
              src="/images/Arrow Down.gif"
              alt="arrow pointing down"
            />
          </div>
        </div>
      </div>
    </main>

    <div class="row text-center my-auto top">
      <div class="about-info">
        <div class="col-6 my-auto">
          <img src="../../public/images/כפר הס-41.jpg" />
        </div>
        <div class="col-6 my-auto">
          <h3>ברוכים הבאים</h3>
          <div>
            <pre>
              <p class="index-p" set:html={richTextParser.convertToMarkdown(data.attributes.mainDescription)} />
            </pre>
          </div>
        </div>
      </div>
    </div>
  </body>

  <div class="row text-center my-auto bottom">
    <div class="about-info">
      <div class="col-6 my-auto">
        <img src="../../public/images/כפר הס-41.jpg" />
      </div>
      <div class="col-6 my-auto">
        <h3>מורן ורנר סיידו</h3>
        <div>
          <pre>
            <p class="index-p" id="about-p" set:html={richTextParser.convertToMarkdown(data.attributes.aboutMeDescription)} />
          </pre>
        </div>
        <a href="/about" class="white-btn mainBackground">קראו עוד עלי</a>
      </div>
    </div>
  </div>

  <div class="row text-center my-auto p-5 beige-background">
    <div class="make-top">
      <h3>פרויקטים שלי</h3>
      <ProjectGallerySample client:load />
    </div>
    <div class="background-overlay-color1"></div>
  </div>
  <!-- <ContactForm client:load /> -->
  <Footer client:load />
</html>

<script
  src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
  integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
  crossorigin="anonymous"></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
  integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
  crossorigin="anonymous"></script>

<script>
  const tgt = document.querySelector(".arrow-down");
  tgt.addEventListener("click", () => {
    scrollToSection(".about-info");
  });

  function scrollToSection(className) {
    let toDiv = document.querySelector(className);
    if (toDiv) {
      toDiv.scrollIntoView({ behavior: "smooth" });
    }
  }
</script>
