.col-logo {
    margin: auto;
    padding-right: 15em;
}

.col-form {
    margin: auto;
    padding-left: 15em;
}

.contact-title {
    font-size: 1.7em;
    font-weight: 700;
    margin-bottom: 0.5em;
}

form {
    z-index: 1;
    border-radius: 0.5em;
    padding-top: 1em;
    padding-bottom: 2em;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5em;
}

input {
    display: block;
    width: 80%;
    max-width: 20em;
    max-height: 2em;
    height: 10vw;
    text-align: center;
    border: 1px solid grey;
    border-radius: 0.2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
    background: white;
    font-size: 1.5em;
}

.contact-btn {
    font-size: 1.2em;
    display: block;
    width: 25vw;
    max-width: 6em;
    margin: auto;
    background: #21252a;
    margin-top: 0.8em;
    color: white;
    border: none;
}

.mws-logo {
    width: 100%;
    max-width: 25em;
    height: auto;
    max-height: 13em;
    object-fit: scale-down;
    margin-bottom: 0.5em;
}

.logo-info {
    width: fit-content;
    font-weight: 300;
    font-size: 1.3em;
    margin: auto;
    padding-bottom: 0.5em;
}