@media screen and (max-width:768px) {

    /* Web template */
    .web-template {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100vh 1.5fr 1fr 1.8fr 0.5fr 100px;
        grid-template-areas:
            "carsl"
            "welcome"
            "about"
            "projects"
            "contact"
            "footer"
        ;
        place-items: center;
    }

    .web-template>* {
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .carousel {
        grid-area: carsl;
    }

    .welcome {
        grid-area: welcome;
    }

    .welcome,
    .about {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: 100%;
        background: rgb(255, 255, 255);
        padding: 0 0 3em 0;
    }

    .about {
        grid-area: about;
        background: #A0BBC7;
    }

    /* Carousel */

    .carousel {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .carousel-images img {
        width: 100%;
        height: 100dvh;
        object-fit: cover;
    }

    .start-arrow {
        position: absolute;
        bottom: 5%;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        font-size: clamp(10px, 5vw, 30px);
        width: max-content;
        padding: 0 2.5em 0 1.5em;
        height: 3.5em;
        border-radius: 5%;
        background: rgba(255, 255, 255, 0.671);
        transition: 0.5s all ease-in;
    }

    .start-arrow img {
        height: 2em;
        width: 2em;
        margin-inline-start: 0.5em;
    }

    .carousel-button button {
        position: absolute;
        top: 50%;
        width: 3em;
        height: 3em;
        z-index: 2;
        background: none;
        border: none;
        cursor: pointer;
    }

    .carousel-button .prev {
        left: 1%;
    }

    .carousel-button .next {
        right: 1%;
    }

}

@media screen and (min-width:768px) and (max-width:992px) {

    /* Web template */
    .web-template {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100vh 1fr 1fr 1.6fr 0.5fr 100px;
        grid-template-areas:
            "carsl"
            "welcome"
            "about"
            "projects"
            "contact"
            "footer"
        ;
        place-items: center;
    }

    .web-template>* {
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .carousel {
        grid-area: carsl;
    }

    .welcome {
        grid-area: welcome;
    }

    .welcome,
    .about {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: 100%;
        background: rgb(255, 255, 255);
        padding: 0 0 5em 0;
    }

    .about {
        grid-area: about;
        background: #A0BBC7;
    }

    /* Carousel */

    .carousel {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .carousel-images img {
        width: 100%;
        height: 100dvh;
        object-fit: cover;
    }

    .start-arrow {
        position: absolute;
        bottom: 5%;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        font-size: clamp(10px, 5vw, 30px);
        width: max-content;
        padding: 0 2.5em 0 1.5em;
        height: 3.5em;
        border-radius: 5%;
        background: rgba(255, 255, 255, 0.671);
        transition: 0.5s all ease-in;
    }

    .start-arrow img {
        height: 2em;
        width: 2em;
        margin-inline-start: 0.5em;
    }

    .carousel-button button {
        position: absolute;
        top: 50%;
        width: 3em;
        height: 3em;
        z-index: 2;
        background: none;
        border: none;
        cursor: pointer;
    }

    .carousel-button .prev {
        left: 1%;
    }

    .carousel-button .next {
        right: 1%;
    }

}

@media screen and (min-width:993px) {

    /* Web template */
    .web-template {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100vh 1fr 1fr 0.8fr 380px 100px;
        grid-template-areas:
            "carsl"
            "welcome"
            "about"
            "projects"
            "contact"
            "footer"
        ;
        place-items: center;
    }

    .carousel {
        grid-area: carsl;
    }

    .welcome {
        grid-area: welcome;
    }

    .welcome,
    .about {
        display: flex;
        width: 100%;
        height: 100%;
        background: rgb(255, 255, 255);
        padding: 4em;
    }

    .about {
        grid-area: about;
        background: #A0BBC7;
    }

    /* Carousel */

    .carousel {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .carousel-images img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }

    .start-arrow {
        position: absolute;
        bottom: 10%;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        font-size: 1.5em;
        width: max-content;
        padding: 0 2.5em 0 1.5em;
        height: 3.5em;
        border-radius: 5%;
        background: rgba(255, 255, 255, 0.671);
        transition: opacity 0.5s ease-in, visibility 0.5s ease-in;
        visibility: visible;
    }

    .start-arrow img {
        height: 2em;
        width: 2em;
        margin-inline-start: 0.5em;
    }

    .carousel-button button {
        position: absolute;
        top: 50%;
        width: 5em;
        height: 5em;
        z-index: 2;
        background: none;
        border: none;
        cursor: pointer;
    }

    .carousel-button .prev {
        left: 1%;
    }

    .carousel-button .next {
        right: 1%;
    }

}