html {
    direction: rtl;
}

#top-row {
    padding: 0;
    opacity: 100%;
}

#logo {
    width: 80%;
    height: auto;
}

h1 {
    font-size: 4em;
    margin: 0;
}

h3 {
    font-weight: 600;
    font-size: 2.5em;
    padding: 0.5em;
}


a {
    color: black;
    text-decoration: none;
}

#bold-logo-text {
    font-weight: 800;
}

#sub-logo-text {
    width: 80%;
    margin: 0.5em auto;
    margin-bottom: 1em;
    padding: 0.5em 0;
    font-size: 1.5em;
    font-weight: 300;
}

#scroll-down-command {
    background: #edb966;
    border-radius: 0.5em;
    width: fit-content;
    padding: 0.4em 1.6em;
    margin: auto;
    font-size: 1.5em;
}

#down-arrow {
    height: 4em;
    width: 100%;
    z-index: 5;
    margin-top: 2em;
    opacity: 50%;
}

#body-image {
    width: 100%;
    height: 70vh;
    object-fit: contain;
    /* object-position: 0 50%; */
}

#about-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    margin: 6em auto;
    padding: 5em 10em;
    background: white;
}

.white_btn {
    margin-top: 0.5em;
    padding: 0.2em 1em;
    font-size: 1.5em;
    font-weight: 300;
    border-radius: 0.2em;
    background: #edb966;
    border: none;
}

#flower-img {
    width: 13em;
    height: auto;
    margin-bottom: 0.5em;
}

.beige-background {
    background: #efefef;
}

.carousel {
    position: relative;
    width: 100%;
}

.carousel-img {
    height: 100vh;
    object-fit: cover;
    object-position: 30% 0;
}

.carousel-control-prev,
.carousel-control-next {
    background: rgb(255, 255, 255);
    opacity: 40%;
    height: 100%;
    width: 2.5em;
    clip-path: circle();
}

.carousel-control-prev {
    margin-left: 2em;
}

.carousel-control-next {
    margin-right: 2em;
}


.image-gallery {
    width: 100%;
    padding: 1em;
}

.img-col {
    display: block;
    width: 100%;
    height: fit-content;
}

.gimage {
    object-fit: cover;
    background: white;
}

.project-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.project-name {
    height: 3em;
}

.marked-header {
    width: fit-content;
    /* background: rgb(251, 255, 200); */
    /* background: #edb966;
    border-radius: 0.5em; */
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em;
}


.footer-text {
    margin: 0;
    padding: 1em;
    font-size: 1.2em;
    font-weight: 300;
}

.row {
    height: fit-content;
    padding: 2em;
}

.text-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    direction: rtl;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    height: 40em;
    background: white;
    border-radius: 0.5em;
}

p {
    text-align: center;
    font-size: 1.5em;
    width: 100%;
}


@media (max-width: 340px) {
    .navbar-brand {
        display: none;
    }

    #brand-bold {
        font-weight: 700;
    }

    .brand-row {
        width: 100%;
        margin-top: 1em;
        padding-top: 1em;
        background: #ffffff;
        border-top: 1px solid rgba(0, 0, 0, 0.22);
    }

    .navbar-brand-row {
        font-size: 2em;
        font-weight: 300;
        padding: 0;
        width: 100%;
        text-decoration: none;
        color: black;
        display: block;
    }

    body {
        font-family: 'Assistant', sans-serif;
        font-size: 11px;
    }

    #img3,
    #img6,
    #img9 {
        display: none;
    }

    #contact-lines {
        width: 8vw;
        height: auto;
        margin: auto;
        opacity: 70%;
    }

    .text-col {
        margin-bottom: 1em;
        margin-top: 1em;
        padding: 2em;
    }

    #cactus-img {
        width: 7em;
    }

    .gimage {
        margin-bottom: 2em;
    }

    .contact-area {
        background: white;
        border-radius: 0.5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 80vw;
        margin: auto;
    }

    form {
        margin: auto;
        width: 100%;
    }
}

/* Media query for screens smaller than 576px (e.g., smartphones) */
@media (min-width: 341px) and (max-width: 575px) {
    body {
        font-family: 'Assistant', sans-serif;
        font-size: 11px;
    }

    .brand-div {
        display: flex;
        justify-content: end;
        width: 20vw;
    }

    .navbar-brand {
        font-size: 1.4em;
        font-weight: 300;
        padding: 0;
        min-height: 100%;
    }

    .brand-row {
        display: none;
    }

    #brand-bold {
        font-weight: 700;
    }

    .nav-text {
        padding-left: 1.5em;
    }

    #img3,
    #img6,
    #img9 {
        display: none;
    }

    #contact-lines {
        width: 8vw;
        height: auto;
        margin: auto;
        opacity: 70%;
    }

    .text-col {
        margin-bottom: 1em;
        margin-top: 1em;
        padding: 2em;
    }

    #cactus-img {
        width: 7em;
    }

    .gimage {
        margin-bottom: 2em;
    }

    .contact-area {
        background: white;
        border-radius: 0.5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 80vw;
        margin: auto;
    }

    form {
        margin: auto;
        width: 100%;
    }
}

/* Media query for screens between 576px and 767px (e.g., small tablets) */
@media (min-width: 576px) and (max-width: 767px) {
    body {
        font-family: 'Assistant', sans-serif;
        font-size: 13px;
    }

    .brand-div {
        display: flex;
        justify-content: end;
        width: 20vw;
    }

    .navbar-brand {
        font-size: 1.4em;
        font-weight: 300;
        padding: 0;
        min-height: 100%;
    }

    .brand-row {
        display: none;
    }

    #brand-bold {
        font-weight: 700;
    }

    .nav-text {
        padding-left: 1.5em;
    }

    #img3,
    #img6,
    #img9 {
        display: none;
    }

    #contact-lines {
        width: 8vw;
        height: auto;
        margin: auto;
        opacity: 70%;
    }

    .text-col {
        margin-bottom: 5em;
        margin-top: 5em;
        padding: 5em;
    }

    #cactus-img {
        width: 7em;
    }

    .gimage {
        margin-bottom: 2em;
    }

    .contact-area {
        background: white;
        border-radius: 0.5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 80vw;
        margin: auto;
    }

    form {
        margin: auto;
        width: 100%;
    }
}

/* Media query for screens between 768px and 991px (e.g., larger tablets and small desktops) */
@media (min-width: 768px) and (max-width: 991px) {
    body {
        font-family: 'Assistant', sans-serif;
        font-size: 15px;
    }

    nav {
        direction: ltr;
    }

    .brand-div {
        display: flex;
        justify-content: end;
        width: 20vw;
    }

    .navbar-brand {
        font-size: 1.4em;
        font-weight: 300;
        padding: 0;
        min-height: 100%;
    }

    .navbar-collapse {
        margin: 0;
        background: transparent;
    }

    .navbar-nav {
        padding-right: 1em;
    }

    .brand-row {
        display: none;
    }

    #brand-bold {
        font-weight: 700;
    }

    .nav-text {
        padding-left: 1.5em;
    }

    #img3,
    #img6,
    #img9 {
        display: none;
    }

    #contact-lines {
        width: 8vw;
        height: auto;
        margin: auto;
        opacity: 70%;
    }

    .text-col {
        margin-bottom: 5em;
        margin-top: 5em;
        padding: 5em;
    }

    #cactus-img {
        width: 7em;
    }

    .gimage {
        margin-bottom: 2em;
    }

    .contact-area {
        background: white;
        border-radius: 0.5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 80vw;
        margin: auto;
    }

    form {
        margin: auto;
        width: 100%;
    }
}

/* Media query for screens between 992px and 1199px (e.g., larger desktops) */
@media (min-width: 992px) {
    body {
        font-family: 'Assistant', sans-serif;
        font-size: 18px;
    }

    nav {
        direction: ltr;
    }

    .brand-div {
        display: flex;
        justify-content: end;
        width: 20vw;
    }

    .navbar-brand {
        font-size: 1.4em;
        font-weight: 300;
        padding: 0;
        min-height: 100%;
    }

    .navbar-collapse {
        margin: 0;
        background: transparent;
    }

    .navbar-nav {
        padding-right: 1em;
    }

    .brand-row {
        display: none;
    }

    #brand-bold {
        font-weight: 700;
    }

    .nav-text {
        padding-left: 1.5em;
    }

    #contact-lines {
        width: 8vw;
        height: auto;
        margin: auto;
        opacity: 70%;
    }

    .text-col {
        margin-bottom: 5em;
        margin-top: 5em;
        padding: 5em;
    }

    #cactus-img {
        width: 7em;
    }

    .image-gallery {
        display: flex;
        align-items: stretch;
        justify-content: center;
        width: 100%;
        padding: 1em;
    }

    .img-col {
        width: 50%;
        height: fit-content;
    }

    .gimage {
        position: relative;
        width: 100%;
        height: 30em;
        object-fit: cover;
        border-radius: 0.3em;
        padding: 0.5em;
    }

    .contact-area {
        background: white;
        border-radius: 0.5em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        width: 80vw;
        margin: auto;
    }

    .contact-div {
        padding-top: 5em;
        padding-bottom: 5em;
        padding-left: 2em;
    }

    form {
        margin: auto;
        width: 100%;
    }
}